:root {
    --dark: #243447;
    --darker: #243547;
    --gray: #878683 ;
    background-color: #1e2b3b;
}


* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.title {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #0f1720;
}

.score1 {
    color: gray;
    font-size: 4rem;
    text-align: center;
    margin-top: 10vh;
    margin-left: 12vh;
}

.score2 {
    color: gray;
    font-size: 4rem;
    text-align: center;
    margin-top: 10vh;
    margin-right: 8vh;
}


.middle{
    text-align: center;
    color: white;
    padding-top: 4vh;
    padding-bottom: 3vh;
    border-bottom: 0.25vh solid var(--gray);
    background-color: #0f1720;
}

.middle h1{
    font-size: 7rem;
    background-color: #0f1720;
}

.buttons button{
    width: 15vh;
    margin-top: 3vh;
    color: white;
    margin-bottom: 5vh;
    display: inline-block;
    padding: 15px 25px;
    font-size: 2vh;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(64, 64, 64);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(108, 108, 108);
}

.buttons button:hover { background-color: #2e2e2e}

.buttons button:active{
    background-color: #1e1e1e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.game {
    padding-top: 6vh;
    background-color: #1e2b3b;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 2fr 1fr;
}

.gameDisplay {
    background-color: #686464;
    width: 45.6vh;
    margin: auto;
    display: grid;
    gap: 0.3vh 0.3vh;
    grid-template-columns: repeat(3, 1fr);
}

.box {
    background-color: #1e2b3b;
    width: 15vh;
    height: 15vh;
    color: white;
    text-align: center;
    font-size: 12vh;
    font-weight: 300;
    user-select: none;
}

.box:hover{
    background-color: #243448;
}

.player1{ 
    margin-left: 40%;
    margin-right: 20%;
}

.player1 img{
    width: 285px;
    height: auto;
    margin-bottom: 3vh;
    user-select: none;
}

.player1 p{
    text-align: center;
    color: white;
    font-size: 3vh;
    user-select: none;
}

.player2{ 
    margin-left: 20%;
    margin-right: 40%;
}

.player2 img{
    width: 285px;
    height: auto;
    margin-bottom: 3vh;
    user-select: none;
}

.player2 p{
    text-align: center;
    color: white;
    font-size: 3vh;
    user-select: none;
}